* {
  margin: 0;
  padding: 0;
}

body,
html {
  position: absolute;
  overflow: hidden;
  text-align: center;
  background: #52bbc8;
  color: #fff;
  font-family: "Microsoft YaHei", Arial, sans-serif;
  font-size: 16px;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
  line-height: 1.5;
}

body {
  width: 100vw;
  height: 100vh;
  min-width: 1366px;
}

.none {
  display: none;
  opacity: 0;
}

/* 返回菜单 */

.music-return {
  position: absolute;
  left: 0;
  top: -100%;
  padding: 0 15px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 0.5s;
}
.music-return--in {
  top: 0;
}
.music-return--none {
  top: -100px;
}
.music-return__content {
  color: #fff;
  cursor: pointer;
}
.music-return-model {
  position: relative;
  overflow: hidden;
  margin-left: 20px;
  transition: all 0.5s;
  width: 20px;
  height: 19px;
}
.music-return-model--unfold{
    width: 200px;
}
.music-return-volume {
  width: 200px;
  position: absolute;
  left: 0;
}
.music-return-volume__icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
  float: left;
  margin-right: 12px;
  margin-top: 1px;
}
.music-return-volume__icon--open {
  background-image: url(../image/volume_open.png);
}
.music-return-volume__icon--close {
  background-image: url(../image/volume_close.png);
}
.music-return-volume__progress {
  position: relative;
  width: 106px;
  float: left;
  margin-top: 8px;
}
.music-return-volume__article {
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  width: 100px;
  margin-left: 3px;
  height: 3px;
}
.music-return-volume__choice {
  width: 9px;
  height: 9px;
  border-radius: 100%;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  top: -3px;
  left: 100px;
  transition: all 0.3s;
}
.music-return-volume__choice:hover {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

/* 菜单目录 */

.music-menu {
  position: absolute;
  top: 40%;
  width: 100%;
  overflow: hidden;
  display: none;
  opacity: 0;
}

.music-menu--none {
  display: block;
  opacity: 1;
  -webkit-animation: menu--none 0.5s ease-out forwards;
  animation: menu--none 0.5s ease-out forwards;
}

@keyframes menu--none {
  0% {
    top: 40%;
    opacity: 1;
  }

  100% {
    top: 100%;
    opacity: 0;
    display: none;
  }
}

.music-menu--in {
  display: block;
  opacity: 1;
  -webkit-animation: menu--in 0.5s ease-out;
  animation: menu--in 0.5s ease-out;
}

@keyframes menu--in {
  0% {
    top: 100%;
    opacity: 0;
  }

  100% {
    top: 40%;
    opacity: 1;
    display: block;
  }
}

.music-menu__start {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.music-menu__start::before {
  content: "";
  transition: all 0.2s;
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #fff;
}

.music-menu__start:hover:before {
  width: 100%;
  left: 0;
}

.music-menu__about {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.music-menu__about::before {
  content: "";
  transition: all 0.2s;
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #fff;
}

.music-menu__about:hover:before {
  width: 100%;
  left: 0;
}

.music-menu__tag {
  position: relative;
  display: inline-block;
}

.music-menu__tag::before {
  content: "";
  transition: all 0.2s;
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #fff;
}

.music-menu__tag:hover:before {
  width: 100%;
  left: 0;
}

/* loading */

.music-loading {
  position: absolute;
  transition: all 0.5s;
  width: 100vw;
  height: 100vh;
  opacity: 1;
}

.music-loading--none {
  opacity: 0;
  display: none;
}

.music-loading__mask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
}

.music-loading__content {
  position: absolute;
  z-index: 1001;
  width: 75px;
  height: 75px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.music-loading__item {
  width: 11px;
  height: 11px;
  border: 2px solid #fff;
  border-radius: 100%;
  position: absolute;
}

.music-loading__item--top {
  -webkit-animation: loading--top 2s linear infinite;
  animation: loading--top 2s linear infinite;
  top: 0px;
  left: 30px;
}

@keyframes loading--top {
  0% {
    top: 0px;
    left: 30px;
  }

  23.3% {
    top: 60px;
    left: 60px;
  }

  33.3% {
    top: 60px;
    left: 60px;
  }

  56.6% {
    top: 60px;
    left: 0px;
  }

  66.6% {
    top: 60px;
    left: 0px;
  }

  90% {
    top: 0px;
    left: 30px;
  }

  100% {
    top: 0px;
    left: 30px;
  }
}

.music-loading__item--left {
  -webkit-animation: loading--left 2s linear infinite;
  animation: loading--left 2s linear infinite;
  top: 60px;
  left: 0px;
}

@keyframes loading--left {
  0% {
    top: 60px;
    left: 0px;
  }

  23.3% {
    top: 0px;
    left: 30px;
  }

  33.3% {
    top: 0px;
    left: 30px;
  }

  56.6% {
    top: 60px;
    left: 60px;
  }

  66.6% {
    top: 60px;
    left: 60px;
  }

  90% {
    top: 60px;
    left: 0px;
  }

  100% {
    top: 60px;
    left: 0px;
  }
}

.music-loading__item--right {
  -webkit-animation: loading--right 2s linear infinite;
  animation: loading--right 2s linear infinite;
  top: 60px;
  left: 60px;
}

@keyframes loading--right {
  0% {
    top: 60px;
    left: 60px;
  }

  23.3% {
    top: 60px;
    left: 0px;
  }

  33.3% {
    top: 60px;
    left: 0px;
  }

  56.6% {
    top: 0px;
    left: 30px;
  }

  66.6% {
    top: 0px;
    left: 30px;
  }

  90% {
    top: 60px;
    left: 60px;
  }

  100% {
    top: 60px;
    left: 60px;
  }
}

/* 键盘控件 */ 
.music-knock{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    height: 400px;
    z-index: 10;
    background-color: #efefef;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    display: flex;
}
.music-knock-input{
    width: 30%;
}
.music-knock-key{
    width: 70%;
}
.music-knock-key__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}
.music-knock-key__ul{
    margin-top: 10px;
    position: relative;
}
.music-knock-k__li{
    list-style:none;
    display: inline-block;
    min-width: 28.8px;
    height: 66.4px;
    line-height: 66.4px;
    font-size: 26.4px;
    background: #fff;
    margin: 0;
    padding: 0 9px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 1px #d6d6d6;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #555;
}
.music-knock-k__li--click{
    background: #e8e8e8;
}

.music-knock-key__ul .key1::before{
    content: "1";
}
.music-knock-key__ul .key2::before{
    content: "2";
}
.music-knock-key__ul .key3::before{
    content: "3";
}
.music-knock-key__ul .key4::before{
    content: "4";
}
.music-knock-key__ul .key5::before{
    content: "5";
}
.music-knock-key__ul .key6::before{
    content: "6";
}
.music-knock-key__ul .key7::before{
    content: "7";
}
.music-knock-key__ul .key8::before{
    content: "8";
}
.music-knock-key__ul .key9::before{
    content: "9";
}
.music-knock-key__ul .key0::before{
    content: "0";
}
.music-knock-key__ul .keyq::before{
    content: "q";
}
.music-knock-key__ul .keyw::before{
    content: "w";
}
.music-knock-key__ul .keye::before{
    content: "e";
}
.music-knock-key__ul .keyr::before{
    content: "r";
}
.music-knock-key__ul .keyt::before{
    content: "t";
}
.music-knock-key__ul .keyy::before{
    content: "y";
}
.music-knock-key__ul .keyu::before{
    content: "u";
}
.music-knock-key__ul .keyi::before{
    content: "i";
}
.music-knock-key__ul .keyo::before{
    content: "o";
}
.music-knock-key__ul .keyp::before{
    content: "p";
}
.music-knock-key__ul .keya::before{
    content: "a";
}
.music-knock-key__ul .keys::before{
    content: "s";
}
.music-knock-key__ul .keyd::before{
    content: "d";
}
.music-knock-key__ul .keyf::before{
    content: "f";
}
.music-knock-key__ul .keyg::before{
    content: "g";
}
.music-knock-key__ul .keyh::before{
    content: "h";
}
.music-knock-key__ul .keyj::before{
    content: "j";
}
.music-knock-key__ul .keyk::before{
    content: "k";
}
.music-knock-key__ul .keyl::before{
    content: "l";
}
.music-knock-key__ul .keyz::before{
    content: "z";
}
.music-knock-key__ul .keyx::before{
    content: "x";
}
.music-knock-key__ul .keyc::before{
    content: "c";
}
.music-knock-key__ul .keyv::before{
    content: "v";
}
.music-knock-key__ul .keyb::before{
    content: "b";
}
.music-knock-key__ul .keyn::before{
    content: "n";
}
.music-knock-key__ul .keym::before{
    content: "m";
}